<div class="image-section">
<!--  <img [src]="content.image.fields.file.url" [alt]="content.altText" />-->

<!--  <div class="overlay" *ngIf="content.overlayText">{{ content.overlayText }}</div>-->

<!--  <p *ngIf="content.caption">{{ content.caption }}</p>-->

  <ng-template ngFor let-item [ngForOf]="content" let-index="index" [ngForTrackBy]="trackByFn">
<!--    {{ item.fields | json }}-->
    <img [src]="item.fields.image.fields.file.url" [ngStyle]="imageStyles[index]"/>
<!--    <img [src]="item['fields']['image']['fields']['file']['url']" />-->
<!--    [alt]="item.fields.image.fields.altText" />-->

<!--    <div class="overlay" *ngIf="item.fields.overlayText">{{ item.fields.overlayText }}</div>-->

<!--    <p *ngIf="item.fields.caption">{{ item.fields.caption }}</p>-->
  </ng-template>
</div>
