.text-section {
  display: flex;
  flex-direction: column;
  color: white;

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
    margin: 0;
    white-space: pre-wrap;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
