html {
  font-family: monospace;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

app-text-section {
  position: relative;
}

app-image-section {
  position: absolute;
  display: flex;
  justify-content: center;
  inset: 0;
  pointer-events: none;
}
